
extends layout

block content
	div.container
		h2.title.align-center Items list
		table
			thead
				tr
					th Product Name
					th Each Price
					th Quantity
					th Net Price
					th Remove
			tbody(data-bind="foreach: items")
				tr
					td
						select(data-bind="options: $root.jsonData().vegetables, value: item, optionsText: 'productname'")
					td(data-bind="text: item().price" class="align-center")
					td
						select(data-bind="options: $root.jsonData().quantity, value: quantity, optionsText: 'quantity'" class="align-center")
					td(data-bind="text: formattedPrice" class="align-center bold")
					td
						a(href="#" data-bind="click: $root.removeItem") Remove
			tfoot(data-bind="visible: totalAmount() > 0")
				tr
					td(colspan= "3" class="bold align-right") Total
					td(class="align-center bold")
						span $
						span(data-bind="text: totalAmount().toFixed(2)")
					td
		button(data-bind="click: addNewItem" class="btn") Add New Item